#display {
  background-color: black;
  margin: inherit;
  
}
#pong{
margin-left: 250px;
margin-bottom: 0px;
margin-top: 0px;
text-align: left;
font-family: Arial Black;
font-weight: bold; font-size: 40px;
color: transparent;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;

text-shadow: 0px 0px 0px rgba(0,0,0,1), 0px 2px 0px rgba(255,255,255,0.7);

}
body{
padding-left: 65px;
background-image: url("fondo.png");
background-repeat: no-repeat;

}

#arriba, #abajo {
  background-color: lightblue;
  font-size: 25px;
}
#arriba  {
  margin-left: 10%;
}
#abajo  {
  margin-left: 10px;
}
#arriba:hover, #abajo:hover {
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 20px 0 rgba(0,0,0,0.19);}
#sacar{
  margin-left: 250px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: white;
  background-color: orange;
  border-radius: 15px;
  border: 3px double white;
 }
 .boton_1:hover{
   opacity: 0.6;
 }
}

#audio{
display: none
}
